body {
	background-color: #302F2A;
    color: rgba(255,255,255,.95);
    text-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
[class^="cFont-icon-"], [class*=" cFont-icon-"] {
    text-shadow: 0 0 0 rgba(0,0,0,0);
}
.full-width-height {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* Titles */
h1,h2{
   letter-spacing: 0.3rem; 
}
h1 {
	font-size: 1.4vw;
    
}
h2 {
	font-size: 2vw;
}
p {
	font-size: 2vw;
    font-weight: 400;
    letter-spacing: 0.15rem;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;

}
.navbar{
    z-index: 1130 !important;
}
.sidebar {
	margin-top: 5rem;
	text-indent: 2.3rem;
}

.centered {
    position: absolute;
    left: 60px;
    right: 60px;
    text-align: center;


    top: 50%;
    box-sizing: border-box;
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    transform: translatey(-50%);
}
.centered a {
	margin: 0 0.5em;
}
.socials-icons {
    position: absolute;
    bottom: 60px;
    left: 60px;
    right: 60px;
    text-align: center;
	margin: 0 auto;

}
.socials-icons a:hover {
	color: #e5e5e5;
}
.socials-icons-bg {
	background-color: #E0E0D4;
}
/* Links */
a {

    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #000;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a {
    -webkit-transition: all 0.35s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: all 0.35s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.nav-link {
	font-size: 0.86rem;
}
 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


@media screen and (max-width: 640px) {
    h1 {font-size: 1.65rem;}
    h2 {font-size: 1.2rem;}
    p {font-size: 0.95rem;}
}


::selection {
    background: #333;
    color: #fff;
}